#php_value include_path ".:/usr/share/pear:/usr/share/php:/var/www/ismile.jp/library"
RewriteEngine on
#RewriteBase /admin/

#API用のURLをフロントコントローラーに飛ばす処理

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api\/(.*)$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
