@CHARSET "UTF-8";

.footer {
    text-align: right;
    height: 45px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 50px;
    box-sizing: border-box;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    z-index: 20;
    background-color: white;
    min-width: 500px;
}

.footer_noleft{
    position        : relative;
    top             : 0px;
    left            : 0px;
    right           : 0px;
    bottom          : 0px;
    background-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top     : 13px;
    text-align      : center;
    width           : auto;
    height          : 31px;
}